/* Navigation */
.navbar {
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(4px);
}

.navbar-brand {
  margin-right: auto;
  padding-left: 20px;
}

.navbar-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-nav .nav-link:hover {
  color: #1058b0;
}

#navbarSupportedContent {
  justify-content: center;
  align-items: center;
}

.social-links {
  padding-left: 20px;
  padding-right: 20px;
}

.social-icons a {
  margin-right: 10px;
  color: #fff;
  transition: color 0.3s;
  font-size: 24px;
}

.social-icons a:hover {
  color: #1058b0;
}

/* General */
main {
  background-color: #121212;
}

.section-dark-bg {
  background-color: #121212;
  color: #ffffff;
}

.section-light-bg {
  background-color: #1b1b1b;
  color: #ffffff;
}

h2 {
  text-align: center;
  font-weight: bold;
  position: relative;
  display: inline-block;
  padding: 0 10px;
  padding-bottom: 20px;
  margin: 0 auto;
}

h2::before,
h2::after {
  content: '';
  position: absolute;
  top: calc(50% - 7px);
  width: 50px;
  height: 2px;
  background-color: #2a37c8;
  transform: translateY(-50%);
}

h2::before {
  left: -50px;
}

h2::after {
  right: -50px;
}

/* Sections */
section {
  padding: 60px 0;
  overflow: hidden;
}

/* About */
.about {
  padding: 50px 0;
}

.about .content {
  padding-right: 35px;
  padding-left: 35px;
}

.about .content h3 {
  font-weight: 700;
  font-size: 34px;
  margin-bottom: 35px;
  margin-top: 0;
}

.about .content p {
  font-size: 15px;
  color: #848484;
  margin-left: 0;
  margin-bottom: 35px;
}

.about .content .icon-box i {
  font-size: 30px;
  float: left;
  color: #1058b0;
  padding-right: 10px;
}

.about .content .icon-box h4 {
  font-size: 20px;
  font-weight: 700;
  margin: 5px 0 10px 0;
}

.about .img-fluid {
  min-height: 300px;
  padding: 0 25px;
  height: 90%;
}

/* Products */
.products {
  padding: 15px 0;
  text-align: center;
}

.products img {
  width: 30%;
  filter: grayscale(100);
  transition: all 0.4s ease-in-out;
  display: inline-block;
  padding: 15px 0;
}

.products img:hover {
  filter: none;
  transform: scale(1.2);
}

/* Cards */
.card-header {
  font-weight: bold;
  text-align: center;
}

.card-body .card-text {
  color: #aeaeae;
  text-align: center;
}

/* Counts */
.counts {
  padding: 60px 0;
}

.counts .count-box {
  padding: 25px 30px;
  width: 100%;
  position: relative;
  text-align: center;
  box-shadow: 0px 2px 35px rgba(0, 0, 0, 0.06);
  border-radius: 4px;
  background-color: #121212;
}

.counts .count-box i {
  position: absolute;
  width: 54px;
  height: 54px;
  top: -27px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
  background: #fff;
  color: #1058b0;
  border-radius: 50px;
  border: 2px solid #fff;
  box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.counts .count-box span {
  font-size: 36px;
  display: block;
  font-weight: 700;
  color: #ffffff;
}

.counts .count-box p {
  margin-top: 10px;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  color: #ffffff;
  padding: 0;
  margin: 0;
}

/* CTA */
.cta {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/cta-bg.jpg") fixed center center;
  background-size: cover;
  padding: 150px 0;
}

@media (max-width: 1024px) {
  .cta {
    background-attachment: scroll;
  }
}

@media (min-width: 769px) {
  .cta .cta-btn-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

/* Portfolio */
.portfolio .portfolio-item .portfolio-wrap img {
  height: 300px;
  object-fit: cover;
}

.portfolio .portfolio-item {
  margin-bottom: 30px;
  height: 300px;
  overflow: hidden;
}

.portfolio #portfolio-flters {
  padding: 0;
  margin: 0 auto 20px auto;
  list-style: none;
  text-align: center;
}

.portfolio #portfolio-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 8px 15px 10px 15px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: #444444;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
  border-radius: 3px;
}

.portfolio #portfolio-flters li:hover,
.portfolio #portfolio-flters li.filter-active {
  color: #fff;
  background: #1058b0;
}

.portfolio #portfolio-flters li:last-child {
  margin-right: 0;
}

.portfolio .portfolio-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background: rgba(17, 17, 17, 0.6);
}

.portfolio .portfolio-wrap::before {
  content: "";
  background: rgba(17, 17, 17, 0.6);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
}

.portfolio .portfolio-wrap img {
  transition: all ease-in-out 0.3s;
}

.portfolio .portfolio-wrap .portfolio-info {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 20px;
}

.portfolio .portfolio-wrap .portfolio-info h4 {
  font-size: 20px;
  color: #fff;
  font-weight: 600;
}

.portfolio .portfolio-wrap .portfolio-info p {
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  font-style: italic;
}

.portfolio .portfolio-wrap {
  text-align: center;
  z-index: 4;
}

.portfolio .portfolio-wrap a {
  color: rgba(255, 255, 255, 0.4);
  margin: 0 5px 0 0;
  font-size: 28px;
  display: inline-block;
  transition: 0.3s;
}

.portfolio .portfolio-wrap a:hover {
  color: #fff;
}

.portfolio .portfolio-wrap:hover::before {
  opacity: 1;
}

.portfolio .portfolio-wrap:hover img {
  transform: scale(1.2);
}

.portfolio .portfolio-wrap:hover .portfolio-info {
  opacity: 1;
}

/* Travel Map */
.map iframe {
  box-shadow: 0 0 7px rgba(255, 255, 255, 0.5); /* Adjust the values as needed */
}

/* Footer */
.footer-top {
  padding: 60px 0 30px 0;
  background: #1b1b1b;
  color: #fff;
}

.footer-top .footer-contact {
  margin-bottom: 30px;
}

.footer-top .footer-contact h4 {
  font-size: 22px;
  margin: 0 0 30px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
}

.footer-top .footer-contact p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Raleway", sans-serif;
  color: #b7b7b7;
}

.footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  position: relative;
  padding-bottom: 12px;
}

.footer-top .footer-links {
  margin-bottom: 30px;
}

.footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-top .footer-links ul i {
  padding-right: 2px;
  color: #1058b0;
  font-size: 18px;
  line-height: 1;
}

.footer-top .footer-links ul li {
  padding: 8px 0;
  display: flex;
  align-items: center;
}

.footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

.footer-top .footer-links ul a {
  color: #aaaaaa;
  text-decoration: none;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

.footer-top .footer-links ul a:hover {
  text-decoration: none;
  color: #1058b0;
}

.footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #373737;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

.footer-top .social-links a:hover {
  background: #1058b0;
  color: #fff;
  text-decoration: none;
}

/* GLightbox */
.thumbnail {
  padding: 5px;
  border: 2px groove #232323;
  overflow: hidden;
  position: relative;
  height: 0;
}

.thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}